<audio controls>
	<source src="../assets/sounds/melting.mp3" type="audio/mpeg">
	Your browser does not support this audio format.
</audio>

<p>Melting (📣 mĕlt | m·​e·​l·​t·) melted, melting, MELT, melts.</p>

<p>Melting is a shape shifting figuration that changes what it touches. In times of climate change, melting proposes material transformation induced by heat, pressure or another friction. Melting is a computational practice in the soldering of components, and a planetary reality in the melting of ice caps and the entwined colonial, racial and ecological effects.</p>

<li>In Chemistry: chemically + socially, a state of matter change in which something more solid changes into something more liquid or less stable on the level of molecules. Melting proposes a change of state through heat, pressure or another friction. This makes it a mode of conflict. Example: Ice caps are melting.</li>
<li>In Depictions of Witchcraft: 'I'm melting!". Example: Wicked Witch of West, The Wizard of Oz.</li>
<li>In Process: Conceptually, melting is a mode to work with/through change and indeterminacy instead of deconstruction or modularity, attempts that are about breaking down a whole into parts. It is a material en/counter practice.</li> 
<li>In Sandwiches: Sandwich with cheese, and another thing. Example: Two pieces of bread and cheese plus heat.</li>
<li>In Material: Deeply material process. Example: When a lollipop is left out in the sun, (above 30degrees celsius or around 98 degrees Ferenheight) it becomes sticky and melts.</li> 
<li>In Forced Assimilation: Melting Pot. Example: When assimilation of migrants was enforced in the United States.</li> 
<li>In Measurement: Elements have melting points. Melting itself is difficult to measure. While temperature, pressure and friction can be measured, there is little language available to describe the process of melting itself. Melting is opposed to classification and categorization. Example: When attempting to classify an artifact, if it begins to melt, the classification and categorization system that it may be sorted into becomes undone.</li> 
<li>In Horror Movies: Melting zombies and vampires.</li>
<li>In Black Feminist Thinking: A way of understanding change as a process and processes as ongoing. References: Octavia Butler's Parable of the Sower, Alexis Pauline Gumbs' M Archive: After the End of the World, Denise Ferreira Da Silva's On Heat.</li>
<li>In Time: Melting questions linear time. Example: The Caldera Lava Bed which errupted over 630,000 years ago is still moving. Things that have melted, do not always return to their previous, pre melt, form.</li> 
<li>In Politics: Politically not neutral, it has violence within it as a concept, it is dangerous for some but life-affirming for others. Example: Rising sea levels have made some coastal islands and coast lines uninhabitable and others disappear entirely.</li> 
<li>In Resistance: Resists definitional practice or quantification.</li>
<li>In Molecules: At a molecular level it requires space for expansion.</li> 
<li>In Mess: High mess-making potential - potentially toxic.</li>
<li>In Jokes: Why don't people like talking about the melting sea ice? Answer: It's a polarizing issue.</li>
</br>
<p>see also: Ice Cream, Material Feminisms, Violence, Vibrant Matter, Mess, Toxic ref: Britney Spears, Toxic ref: Masculinity, Toxic ref: Nuclear Waste, Lactic Acid, my heart *you sweetie*, Crayons </p>