<div class="large-2 cell" data-sticky-container>
    <div class="sticky" data-sticky data-margin-top="2">


        <div class="menu-slime" id="tv">
            <div id="egg">
                <div id="egg2">

                    <ul class="vertical menu">
                        <li><a href="../MELT.html">MELT</a></li>
                        <li><a href="../ingredients.html">ingredients</a></li>
                        <li><a href="../meltries.html">meltries</a></li>
                        <li><a href="../elements.html">elements</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>