<p>Permeating (📣 per·​me·​abil·​i·​ty | \ ˌpər-mē-ə-ˈbi-lə-tē \) permeated, permeable, permeability.</p>

<p>Permeating is a material property that connects differently structured and structuring substrates. It proposes a surface with an uncertain depth and can't necessarily be percieved by human senses. Permeating frames devices that scaffold possibilities of contact.</p>

<li>In Material: Enables material practices of ‚reaching through‘ instead of just ‚seeing through‘. Permeating is a mode of leaking.</li>
<li>In Interfaces: Along an interface, that manifests for example as a membrane or between otherwise incompatible programming scripts, an exchange happens between different structured and differently structuring materials. These materials co-constitute each other through the specific configuration of their interface’s permeability. Permeating is oftentimes too small or not vocal enough to be perceived by human senses and especially by human eyes.</li>
<li>In Process. Interfaces are zones, and open-ended. Reference: With Alexander Galloway we argue that ‚Interfaces are not things, but rather processes that effect a result of whatever kind.‘</li>
<li>In Haptics: Not visual per/say, different to transparency.</li>
<li>In Reaching: Reaching through vs seeing through. This makes permeating a matter of access. Example: Reaching into a box to try and identify the material or things inside. Is it cold spaghetti? Is it a blanket? Is it melting ice? Example: Instead of calling for decision making to be transparent, ask for it to be permeable.</li>
<li>In Recognition: Not fully making something available. Example: Lace or beaded curtains do not fully close off a space, nor do they make it fully open to enter.</li>
<li>In Boundaries: Wifi-waves as permeating architectures and bodies. Permeating suggests that no body or system is closed and that there is no 'outside'.</li>
<li>In Membrane: The prosity of the membrane determines the entire possibility.</li>
<li>In Surfaces: Oftentimes is to do with the surface, mediating entity.</li>
<li>In Framing: Framing device for variable perspectives. Pearmeating undoes rectangular shapes and enclosed structures. Example: A french press has a porous aluminium structure through which coffee floats.</li>
<li>In Non-Binary: Permeating is not an either/or binary process, it proposes modes of both/and.</li>
<li>In Electrochemistry: Semipermeability is employed in electrochemical applications. Example: Batteries.</li>
<li>In Collectivities: Nothing is ever seperate, all is conditionally connected.</li>

<p>see also: Body without Organs, Informatic Opacity, Nonseparability, Sensing Practices, Jello, Cotton Fabric, Prisms, 3d scanning application, Pasta Strainer, Space-time-continum, Petals of flowers, Smell</p>
