@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'mixins';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

@font-face{ font-family: "PratiwiSansTypeface"; src: url("../fonts/PratiwiSansTypeface.eot"); src: url("../fonts/PratiwiSansTypeface.eot?#iefix") format("embedded-opentype"), url("../fonts/PratiwiSansTypeface.woff") format("woff"), url("../fonts/PratiwiSansTypeface.ttf") format("truetype"), url("../fonts/PratiwiSansTypeface.svg#webfont") format("svg"); }
@font-face{ font-family: "Atkinson-Hyperlegible"; src: url("../fonts/Atkinson-Hyperlegible-Regular-102.eot"); src: url("../fonts/Atkinson-Hyperlegible-Regular-102.eot?#iefix") format("embedded-opentype"), url("../fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff"), url("../fonts/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype"), url("../fonts/Atkinson-Hyperlegible-Regular-102.svg#webfont") format("svg"); }

// Colors
$melt-green: #5ad75a;
$col1: #bcdf3d;
$col2: #5ad75a;


body {

    font-family: PratiwiSansTypeface;
    font-size: 16px;

    h1, h2, h3, h4, h5 {
    font-family: PratiwiSansTypeface;
    }

    p, ul, li, a {
    color:#444744;
    font-family: Atkinson-Hyperlegible;
    }

    p a {
        background: black;
        color: white;
    }

    p {
        font-size: 18px;
    }
}

.landingpage {
    background-color: #ee65ee;
    height: 100vh;
    width: 100vw;
    opacity: 0.4;

    .welcome {
        margin-top: 28vh;
    }
}

/*--- MELTIONARY PROJECTS ---*/

/* -- SLIME MENU -- */
    .menu-slime {
    margin-left: 2em;

    #egg2 {
    display: block;
    width: 140px;
    height: 180px;
    background: linear-gradient(45deg, $col1 0%, $col2 100%);
    animation: morph 8s ease-in-out infinite;
    transform: rotate(-70deg);
    border-radius: 50% 50% 50% 50% / 10% 60% 40% 30%;
    transition: all 0.5s ease-in-out;
    }

    #tv {
    text-align: center;
    display: block;
    width: 150px;
    height: 180px;
    background-color: #46d260;
    background: linear-gradient(45deg, $col1 0%, $col2 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 80% 50% 50% 90% / 60% 20% 40% 30%;
    transition: all 1s ease-in-out;
    }

    #egg {
    display: block;
    width: 126px;
    height: 180px;
    background-color: $melt-green;
    background: linear-gradient(45deg, $col1 0%, $col2 100%);
    transform: rotate(20deg);
    animation: morph 8s ease-in-out infinite;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transition: all 2s ease-in-out;
    }

    .menu a {
    margin-top: 12px;
    color: #ac609b;
    transform: rotate(35deg);
    font-family: PratiwiSansTypeface;

     &:hover {
       color: $melt-green;
     }

     &:active {
         color: black;
     }
    }
}
/* -- END SLIME MENU -- */

    .content {
    margin-top: 2em;
    }

    .hidden { /* used for access to video descriptions */
        position: absolute;
        left:     -10000px;
        top:      auto;
        width:    1px;
        height:   1px;
        overflow: hidden;
      }

    .ingredients {
    margin-top: 4em;
    margin-bottom: 5em; 
    }

    .element {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .meltry {
        margin-bottom: 5em;

        li {
            font-family: Atkinson-Hyperlegible;
        }

        p a, h3 a, h4 a, li a {
            background: black;
            color: $col2;
        }

        h2, h3 {
            margin-top: 1.6em;  
            color: $col2;
        }

        img {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        }

        .x-ercise {
        margin-top: 5em;
        }

        h3, h4 {
            margin-top: 1.5em;
        }

        .report {
            margin-bottom: 6em;
            h4, h4 a {color: $col2;}
           
        }
        iframe {
            margin-top: 3em;
        }

        .manifesto {
            li p {font-size: 1.5em;}
        }
    }   

    .meltry-preview {
        .blob-wrapper {
            padding-left: 1em;
            margin-top: 3em;

            @include slime-movement(red, yellow, 8s, 250px);
            h1 { font-size: 9em; }
            text {
                font-size: 3em;
                font-family: PratiwiSansTypeface; 
            }
        }
    }

/* Blob Colors & Movements for Meltry Previews */
    #W { @include slime-movement(blue, pink, 8s, 200px); h1 { color: blue; }}
    #A { @include slime-movement(violet, lime, 8s, 280px); h1 { color: #e541e5; }}
    #R { @include slime-movement(orange, pink, 8s, 240px); h1 { color: orange; }}
    #P { @include slime-movement(rgb(53, 97, 76), rgb(231, 0, 154), 8s, 140px); h1 { color: rgb(53, 97, 76); }}
    #H { @include slime-movement(rgb(78, 21, 54), rgb(28, 187, 147), 8s, 260px); h1 { color: rgb(96, 234, 37); }}
    #S { @include slime-movement(rgb(216, 183, 123), rgb(75, 44, 49), 8s, 180px); h1 { color: rgb(247, 32, 17); }}
    #M { @include slime-movement(rgb(42, 117, 86), rgb(194, 0, 0), 8s, 250px); h1 { color: rgb(42, 117, 86); }}
    #B { @include slime-movement(rgb(35, 19, 105), rgb(255, 218, 8), 8s, 190px); h1 { color: rgb(35, 19, 105); }}
    #C { @include slime-movement(rgb(245, 32, 96), rgb(42, 151, 89), 8s, 210px); h1 { color: sandybrown; }}
    #I { @include slime-movement(rgb(88, 79, 218), rgb(214, 146, 67), 8s, 210px); h1 { color: rgb(233, 154, 184); }}
    #U { @include slime-movement(rgb(251, 255, 29), rgb(18, 182, 246), 8s, 210px); h1 { color: rgb(117, 12, 21); }}
    #N { @include slime-movement(rgb(23, 20, 77), rgb(83, 245, 61), 8s, 210px); h1 { color: rgb(255, 252, 50); }}
    #ex { @include slime-movement(rgb(240, 131, 71), rgb(28, 92, 114), 8s, 210px); h1 { color: rgb(255, 255, 241); }}

    #cs {
        h1 {color: black;}
    }


/* Hacking Concrete Sub Page */
.hacking-concrete {
    position: relative;
    text-align: left;
    background: Wheat;
    
    h1, p {
        color: Wheat;
        background: black;
    }

    p { font-family: Atkinson-Hyperlegible; padding-left: 0.3em; font-size: 1.2em;}

    #vid-description {background: none; color: black;}

    a { text-decoration: underline; color: orangered; background: black; }
   
    // HACKING CONCRETE 
    .back img {
            opacity: 0.8;
            animation: morph 40s ease-in-out infinite;
    }

    .back video { 
            object-fit: cover;
            width: 100vw;
            height: 100vh;
    }

    .concrete {
        position: absolute;
        top: 40%;
        margin-left: 5em;
    }

    .churning {
        position: absolute;
        top: 60%;
        margin-left: 5em;
    }

    .built {
        margin-top: -1em;
        img, video {margin-top: 10em; margin-bottom: 5em;}
        padding-bottom: 3em;
    }

    .everyday {
        margin-left: 3em;
        margin-top: -1em;
        p {margin-top: 7em; margin-left: -3em;}
    }

    .intro {
        background-color: black;
        margin-top: -0.3em;
        padding-left: 3em;
        padding-bottom: 6em; 
        h1 {margin-top: 3em; color: Wheat;}
        p {margin-left: 3em; color: Wheat;}
        audio {margin-left: 3.6em;}
        a { font-size: 2em; }
    }

    #concrete {
        color: Wheat;
    }

    .decomposing, .patching, .sprouting {
        position: absolute;
        p {margin-top: -1em; font-size: 1.1em;}
        h1, a, a h1, p { background: none; color: white;}
        background: linear-gradient(45deg, Black 0%, BurlyWood 100%);
        animation: morph 10s ease-in-out infinite;
        border-radius: 50% 50% 50% 50% / 10% 60% 40% 90%;

        @media only screen and (max-width: 600px) {
            background: black;
            animation: none;
            margin-left: 5em;
            p {font-size: 0.8em; }
        }
    }

    .decomposing {
        top: 10%;
    }

    .patching {
        top: 40%;
        margin-left: 52em;
        @media only screen and (max-width: 900px) { margin-left: 30em; }
        @media only screen and (max-width: 600px) { margin-left: 5em; }
    }

    .sprouting {
        top: 65%;
        margin-left: 5em;
    }

    .poem1, .poem2, .poem3 {
        position: absolute;

        background: linear-gradient(45deg, black 0%, BurlyWood 100%);
        animation: morph 8s ease-in-out infinite;
        border-radius: 50% 50% 50% 50% / 10% 60% 40% 30%;
   
        h1, p {
        background: none;
        color: white;
        }
        a {background: none;}

        @media only screen and (max-width: 600px) {
            background: black;
            animation: none;
            margin-left: 5em;
            p {font-size: 0.8em; }
        }
    }

    .poem1 {
        top: 40%;
        margin-left: 52em;
        @media only screen and (max-width: 600px) { margin-left: 18em; width: 20%;}
    }

    .poem2 {
        top: 10%;
        margin-left: 10em;
    }

    .poem3 {
        top: 45%;
        margin-left: 20em;
        @media only screen and (max-width: 600px) { margin-left: 5em; }
    }

    .hidden {
        position: absolute;
        left:     -10000px;
        top:      auto;
        width:    1px;
        height:   1px;
        overflow: hidden;
      }
}








